/* line 1, /Users/new/artpovar/app/assets/stylesheets/layout.sass */
.col-image {
  width: 200px !important;
}

/* line 5, /Users/new/artpovar/app/assets/stylesheets/layout.sass */
#blueimp-gallery h3, #blueimp-gallery a, #blueimp-gallery ol {
  display: block;
}

/* line 8, /Users/new/artpovar/app/assets/stylesheets/layout.sass */
body {
  padding: 0;
  margin: 0;
  background: #0f0a22;
  color: white;
  font-family: Arial;
  position: relative;
}
/* line 17, /Users/new/artpovar/app/assets/stylesheets/layout.sass */
body.index:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: url("/assets/background.png") center 150px no-repeat;
}
/* line 29, /Users/new/artpovar/app/assets/stylesheets/layout.sass */
body.index.first:after {
  background: url("/assets/background_02.png") center 150px no-repeat;
}
/* line 33, /Users/new/artpovar/app/assets/stylesheets/layout.sass */
body.index.second:after {
  background: url("/assets/background_03.png") center 150px no-repeat;
}

/* line 36, /Users/new/artpovar/app/assets/stylesheets/layout.sass */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 41, /Users/new/artpovar/app/assets/stylesheets/layout.sass */
a {
  text-decoration: none;
  padding: 0;
}

/* line 46, /Users/new/artpovar/app/assets/stylesheets/layout.sass */
section {
  padding: 25px 40px;
  box-sizing: border-box;
  min-height: 550px;
  width: 980px;
  margin: 0 auto;
}
/* line 53, /Users/new/artpovar/app/assets/stylesheets/layout.sass */
section #left_nav {
  float: left;
  width: 160px;
}
/* line 57, /Users/new/artpovar/app/assets/stylesheets/layout.sass */
section #left_nav ul {
  width: 160px;
}
/* line 60, /Users/new/artpovar/app/assets/stylesheets/layout.sass */
section #left_nav a {
  height: 80px;
  width: 80px;
  display: block;
  margin-left: 80px;
  margin-bottom: 15px;
  font-size: 12px;
  position: relative;
}
/* line 69, /Users/new/artpovar/app/assets/stylesheets/layout.sass */
section #left_nav a li {
  display: table-cell;
  vertical-align: middle;
  height: 80px;
  padding-left: 5px;
}
/* line 75, /Users/new/artpovar/app/assets/stylesheets/layout.sass */
section #left_nav a:before {
  height: 80px;
  width: 90px;
  opacity: 0.7;
  left: -80px;
  position: absolute;
  content: "";
}
/* line 84, /Users/new/artpovar/app/assets/stylesheets/layout.sass */
section #left_nav a:first-child:before {
  background: url("/assets/new.png") no-repeat;
}
/* line 88, /Users/new/artpovar/app/assets/stylesheets/layout.sass */
section #left_nav a:nth-child(2):before {
  background: url("/assets/ugolki.png") no-repeat;
}
/* line 91, /Users/new/artpovar/app/assets/stylesheets/layout.sass */
section #left_nav a:nth-child(3):before {
  background: url("/assets/sozvezdie.png") no-repeat;
}
/* line 94, /Users/new/artpovar/app/assets/stylesheets/layout.sass */
section #left_nav a:nth-child(4):before {
  background: url("/assets/lady.png") no-repeat;
}
/* line 97, /Users/new/artpovar/app/assets/stylesheets/layout.sass */
section #left_nav a:last-child:before {
  background: url("/assets/homo.png") no-repeat;
}
/* line 101, /Users/new/artpovar/app/assets/stylesheets/layout.sass */
section #left_nav a.current:before {
  opacity: 1;
}
/* line 103, /Users/new/artpovar/app/assets/stylesheets/layout.sass */
section #left_nav a.current:link, section #left_nav a.current:visited {
  color: #739fbe;
}
/* line 106, /Users/new/artpovar/app/assets/stylesheets/layout.sass */
section #left_nav a:link, section #left_nav a:visited {
  text-decoration: none;
  color: white;
}
/* line 110, /Users/new/artpovar/app/assets/stylesheets/layout.sass */
section #left_nav a:hover, section #left_nav a:focus {
  color: #739fbe;
}
/* line 113, /Users/new/artpovar/app/assets/stylesheets/layout.sass */
section #left_nav a:hover:before, section #left_nav a:focus:before {
  opacity: 1;
}
/* line 116, /Users/new/artpovar/app/assets/stylesheets/layout.sass */
section #content {
  float: right;
  box-sizing: border-box;
  min-height: 500px;
  width: 720px;
  margin: 0 auto;
  padding: 10px;
}

/* line 126, /Users/new/artpovar/app/assets/stylesheets/layout.sass */
footer {
  padding: 0 40px;
  box-sizing: border-box;
  width: 980px;
  margin: 0 auto;
  font-size: 12px;
  text-align: center;
  overflow: hidden;
}
/* line 135, /Users/new/artpovar/app/assets/stylesheets/layout.sass */
footer p {
  margin: 50px 0;
}

/* line 137, /Users/new/artpovar/app/assets/stylesheets/layout.sass */
.centered {
  width: 980px;
  padding: 0 50px;
  margin: 0 auto;
}

/* line 1, /Users/new/artpovar/app/assets/stylesheets/header.sass */
header {
  width: 980px;
  padding: 50px 40px 20px;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
}
/* line 8, /Users/new/artpovar/app/assets/stylesheets/header.sass */
header .logo {
  float: left;
  width: 20%;
  height: 106px;
  max-width: 180px;
  min-width: 170px;
  background: url("/assets/logo.png") left no-repeat;
}
/* line 16, /Users/new/artpovar/app/assets/stylesheets/header.sass */
header .logo:hover {
  opacity: 0.9;
}
/* line 19, /Users/new/artpovar/app/assets/stylesheets/header.sass */
header aside {
  float: right;
  width: 80%;
}
/* line 23, /Users/new/artpovar/app/assets/stylesheets/header.sass */
header aside #info {
  overflow: hidden;
  box-sizing: border-box;
}
/* line 27, /Users/new/artpovar/app/assets/stylesheets/header.sass */
header aside #info .title {
  text-align: center;
  float: left;
  width: 80%;
  font-size: 18px;
  font-family: Myriad Pro, Arial;
}
/* line 34, /Users/new/artpovar/app/assets/stylesheets/header.sass */
header aside #info .title span {
  font-size: 16px;
}
/* line 37, /Users/new/artpovar/app/assets/stylesheets/header.sass */
header aside #info .title h1 {
  margin: 5px 0 0;
  font-size: 22px;
  font-weight: normal;
  color: white;
}
/* line 43, /Users/new/artpovar/app/assets/stylesheets/header.sass */
header aside #info .soc-icons {
  float: right;
  width: 20%;
  max-width: 150px;
}
/* line 48, /Users/new/artpovar/app/assets/stylesheets/header.sass */
header aside #info .soc-icons .vk, header aside #info .soc-icons .fb {
  height: 44px;
  width: 42px;
  text-align: center;
  display: inline-block;
}
/* line 54, /Users/new/artpovar/app/assets/stylesheets/header.sass */
header aside #info .soc-icons .vk:hover, header aside #info .soc-icons .fb:hover {
  opacity: 0.8;
}
/* line 57, /Users/new/artpovar/app/assets/stylesheets/header.sass */
header aside #info .soc-icons .fb {
  background: url("/assets/icons.png") right no-repeat;
}
/* line 59, /Users/new/artpovar/app/assets/stylesheets/header.sass */
header aside #info .soc-icons .vk {
  background: url("/assets/icons.png") left no-repeat;
}
/* line 62, /Users/new/artpovar/app/assets/stylesheets/header.sass */
header nav {
  text-align: center;
  overflow: hidden;
  margin-top: 12px;
}
/* line 67, /Users/new/artpovar/app/assets/stylesheets/header.sass */
header nav ul {
  margin: 0;
}
/* line 70, /Users/new/artpovar/app/assets/stylesheets/header.sass */
header nav ul li {
  float: left;
  margin: 0 10px;
  font-size: 14px;
}
/* line 76, /Users/new/artpovar/app/assets/stylesheets/header.sass */
header nav ul li.current a, header nav ul li.current a:link, header nav ul li.current a:visited {
  color: #739fbe;
}
/* line 79, /Users/new/artpovar/app/assets/stylesheets/header.sass */
header nav ul li a, header nav ul li a:link, header nav ul li a:visited {
  text-decoration: none;
  color: white;
}
/* line 83, /Users/new/artpovar/app/assets/stylesheets/header.sass */
header nav ul li a:hover, header nav ul li a:focus, header nav ul li a:link:hover, header nav ul li a:link:focus, header nav ul li a:visited:hover, header nav ul li a:visited:focus {
  color: #739fbe;
}

/* line 1, /Users/new/artpovar/app/assets/stylesheets/pages.sass */
article {
  overflow: hidden;
}
/* line 3, /Users/new/artpovar/app/assets/stylesheets/pages.sass */
article img {
  max-width: 600px;
  height: auto !important;
  margin: 20px 0;
  float: left;
}
/* line 9, /Users/new/artpovar/app/assets/stylesheets/pages.sass */
article a, article a:link, article a:visited {
  font-weight: bold;
  text-decoration: underline;
  color: red;
}
/* line 14, /Users/new/artpovar/app/assets/stylesheets/pages.sass */
article a:hover, article a:link:hover, article a:visited:hover {
  opacity: 0.6;
}

/* line 18, /Users/new/artpovar/app/assets/stylesheets/pages.sass */
.gallery a {
  display: inline-block;
  vertical-align: top;
}
/* line 22, /Users/new/artpovar/app/assets/stylesheets/pages.sass */
.gallery a:hover {
  opacity: 0.8;
}
/* line 25, /Users/new/artpovar/app/assets/stylesheets/pages.sass */
.gallery a img {
  width: 160px;
}
