- content_for :left_nav do 
  #left_nav
    = render 'layouts/left_nav'

- cat = Category.where(name: "about").first
- articles = cat.articles
- articles.reverse.each do |item|
  %h1
    =item.title
  %aside
    =raw item.description

    = link_to 'ПОДРОБНЕЕ >', '#'
  %article
    =raw item.body