.index
	%h1
		CLASSES

	%article
		= image_tag 'http://haml.info/images/haml.png'
		.text.icon
			%h1
				Целый год!
			%p
				В 2014 году наша компания вводит дополнительные услуги. Наши дизайнеры и замерщики выезжают на дом. Причём весь год Вы сможете воспользоваться данным бонусом совершенно бесплатно! Специалисты нашей компании приедут прямо к Вам домой и помогут составить предварительный дизайн мебели исходя из имеющихся размеров, отделки помещения и дизайна всей квартиры.

				= link_to 'подробнее...', '#'
