- category = Category.where(name: action_name).first
- articles = category.articles
- articles.reverse.each do |article|
  %h2
    =article.title
  %article
    =raw article.description
    =raw article.body