.centered
  %article
    = image_tag 'actions/article_01.jpg'
    .text.icon
      %h1
        ВЕСНА!
      %p
        Весенние скидки! До конца весны в нашем салоне действует скидка 20% на корпусную мебель и мебель в стиле звёзд мирового дизайна! Эта акция действует вне зависимости от объёмов и цены вашего заказа. Спешите, до жарких, летних дней осталось совсем немного!

        = link_to 'подробнее...', '#'