- category = Category.where(name: action_name).first
- articles = category.articles.order('created_at').reverse
- articles.map do |article|
  %h2
    =article.title
  %article
    =raw article.description
    - if !article.body.empty?
      = link_to 'ПОДРОБНЕЕ >', category_article_path(article.category.name, article.id)

/ = form_tag("/message") do
/   = label_tag("Имя:")
/   = text_field_tag(:user_name)
/   %br
/   = label_tag("Почта:")
/   = text_field_tag(:user_email)
/   %br
/   = label_tag("Сообщение")
/   = text_area_tag(:message, "", size: "24x6")

/   %br
/   %br
/   = submit_tag("Отправить")