header
  width: 980px
  padding: 50px 40px 20px
  margin: 0 auto
  overflow: hidden
  box-sizing: border-box
  background: gray

  .logo
    float: left
    width: 20%
    height: 106px
    max-width: 180px
    min-width: 170px

    &:hover
      opacity: 0.9

  aside
    float: right
    width: 80%

    #info
      overflow: hidden
      box-sizing: border-box

      .title
        text-align: center
        float: left
        width: 80%
        font-size: 18px
        font-family: Myriad Pro, Arial

        span
          font-size: 16px

        h1
          margin: 5px 0 0
          font-size: 22px
          font-weight: normal
          color: white

      .soc-icons
        float: right
        width: 20%
        max-width: 150px
        margin-top: 15px

        .vk, .fb
          height: 44px
          width: 42px
          text-align: center
          display: inline-block

          &:hover
            opacity: 0.8

        .fb
          background: url(image_path("icons.png")) left no-repeat
        .vk
          background: url(image_path("icons.png")) right no-repeat