header
  width: 980px
  padding: 45px 20px 0 20px
  margin: 0 auto
  overflow: hidden
  box-sizing: border-box
  background: #333

  #left, #middle, #right
    overflow: hidden
    display: inline-block
    vertical-align: top

  #left
    width: 25%
    .soc-icons
      height: 100px
      background: url(image_path("icons.png")) no-repeat

  #middle
    width: 49%
    height: 264px

    .logo
      height: 264px
      width: 272px
      display: block
      margin: 0 auto
      background: url(image_path("logo.png")) no-repeat
      background-position: left 4px center

      &:hover
        opacity: 0.9

  #right
    width: 25%
    text-align: right

  nav
    width: 472px
    background: none
    margin: 45px auto 30px auto

    a, a:link, a:visited
      text-decoration: none
      color: white
      padding: 30px

      &:hover, &:focus
        color: #555