header
  background: #111

  .centered
    padding: 45px 50px 0 50px

  #left, #middle, #right
    overflow: hidden
    display: inline-block
    vertical-align: top

  #left
    width: 25%

    .soc-icons
      text-align: left
      
      a
        height: 37px
        width: 37px
        margin-right: 10px
        display: inline-block
        background: url(image_path("icons.png")) top left no-repeat

        &:last-child
          margin-right: 0

        &.fb
          background-position: -37px 0
        &.in
          background-position: -74px 0
        &.tw
          background-position: right top

        &:hover
          opacity: 0.6

  #middle
    width: 49%
    height: 264px

    .logo
      height: 264px
      width: 272px
      display: block
      margin: 0 auto
      background: url(image_path("logo.png")) no-repeat
      background-position: left 4px center

      &:hover
        opacity: 0.9

  #right
    width: 24%
    text-align: right
    font-family: "PF Din TextCondPro Thin"
    font-size: 20px
    font-weight: bold
    letter-spacing: 1px

    .telefon
      
    .language
      a
        color: #555

        &.active
          color: white

  nav
    background: none
    margin: 15px auto 0 auto
    font-family: "PF Din TextCondPro Light"
    font-size: 30px
    width: 100%

    img
      vertical-align: middle
      margin-bottom: 6px

    a, a:link, a:visited, .language
      text-decoration: none
      color: #555
      padding: 30px
      display: inline-block
      vertical-align: middle

      &.current
        color: white

      &:hover, &:focus
        color: white