body
  padding: 0
  margin: 0
  background: white

ul
  padding: 0
  margin: 0
  list-style: none

nav
  height: 65px
  width: 980px
  margin: 0 auto

a
  text-decoration: none
  padding: 0

.centered
  width: 980px
  padding: 0 50px
  margin: 0 auto

.centered.icons
  padding: 0

.border
  height: 2px

div

header
  background: #5f5e5e

  aside
    background: black
    height: 100px

    img
      margin-top: 16px

    .telefon
      margin-top: 32px
      float: right

      p
        margin: 0 0 4px
        color: gray

      .soc-icons
        float: right

        li
          float: left
          margin-right: 7px

          &:last-child
            margin: 0

          a
            padding: 10px
            display: block

            &:hover
              cursor: pointer

            &.instagram
              background-position: -3px -26px
              &:hover
                background-position: -3px -3px
            &.vkontakte
              background-position: -26px -26px
              &:hover
                background-position: -26px -3px
            &.facebook
              background-position: -49px -26px
              &:hover
                background-position: -49px -3px
            &.twitter
              background-position: -72px -26px
              &:hover
                background-position: -72px -3px
  nav
    text-align: center

    ul
      height: 43px
      padding: 23px 50px 0

      li
        float: left
        margin: 0 44px
        height: 21px

        &:first-child
          margin-left: 0

        &:last-child
          margin: 0
          float: right

        &.current
          a
            position: relative
            z-index: 1
        a
          color: #EAEAEA
          font-size: 16.5px
          padding: 24px 0

          &:hover, &:focus
            position: relative
            z-index: 1

#content
  padding-top: 25px
  min-height: 720px
  position: relative
  overflow: hidden

footer
  background: #5f5e5e

  nav
    width: 980px
    padding: 0 50px
    position: relative

    &:before
      content: ""
      position: absolute
      left: 452px
      bottom: 46px
      height: 47px
      width: 80px

    div
      text-align: center
      display: inline-block
      height: 65px
      width: 33.3333%
      padding: 23px 0

      &:first-child
        text-align: left
      &:last-child
        text-align: right
        float: right
        width: 32%
      &:nth-child(2)
        padding: 23px

      a
        color: white

        &:hover
          color: gray

  aside
    background: black
    height: 100px

    .centered
      color: white
      padding-top: 10px
      font-size: 14px

      p
        &:first-child
          float: left
        &:last-child
          float: right

