// vk_group
#vk_groups
	border-top-left-radius: 0px !important
	border-top-right-radius: 0px !important

	iframe

		body.is_rtl.VK1.widget_body
			background: #120823 !important

			#community_like.community_widget_bottom
				background: #120823 !important

				#join_community.join_community.color3_bg
					border-top-left-radius: 0px !important
					border-top-right-radius: 0px !important
 

article
	overflow: hidden
	img
		max-width: 600px
		height: auto !important
		margin: 20px 0
		float: left

	a, a:link, a:visited
		font-weight: bold
		text-decoration: underline
		color: red

		&:hover
			opacity: 0.6

.gallery
	a
		display: inline-block
		vertical-align: top

		&:hover
			opacity: 0.8

		img
			width: 160px