.soc-icons
  =link_to '', '#', class: 'vk', target: '_blank'
  =link_to '', '#', class: 'fb', target: '_blank'
  =link_to '', '#', class: 'in', target: '_blank'
  =link_to '', '#', class: 'tw', target: '_blank'