%ul
  =second_nav_link 'NEW', new_path
  =second_nav_link 'Уголки души твоей', ugolki_dushi_path
  =second_nav_link 'В созвездии Слона', sozvezdii_slona_path
  =second_nav_link 'ЛЕДИ', ledi_path
  =second_nav_link 'Homo Insectarium', homo_insectarium_path