%ul
  =second_nav_link 'ГЛАВНАЯ', root_path
  =second_nav_link 'ПОРТФОЛИО', portfolio_path
  =second_nav_link 'УСЛУГИ', uslugi_path
  =second_nav_link 'ОБУЧЕНИЕ', learning_path
  =second_nav_link 'СТАТЬИ', articles_path
  =second_nav_link 'О СТУДИИ', about_path
  =second_nav_link 'КОНТАКТЫ', contacts_path