%ul
  =nav_link 'ЖИВОПИСЬ', root_path
  =nav_link 'О ХУДОЖНИКЕ', about_path
  =nav_link 'ПРЕССА', pressa_path
  =nav_link 'МАСТЕР-КЛАССЫ', classes_path
  =nav_link 'СОБЫТИЯ', news_path
  =nav_link 'СОБЫТИЯ', contact_path

/ %ul
/ 	%li
/ 		ЖИВОПИСЬ
/ 	%li
/ 		О ХУДОЖНИКЕ
/ 	%li
/ 		ПРЕССА
/ 	%li
/ 		МАСТЕР-КЛАССЫ
/ 	%li
/ 		СОБЫТИЯ
/ 	%li
/ 		КОНТАКТЫ