%ul
  =nav_link 'ЖИВОПИСЬ', root_path
  =nav_link 'О ХУДОЖНИКЕ', about_path
  =nav_link 'ПРЕССА', pressa_path
  =nav_link 'МАСТЕР-КЛАССЫ', classes_path
  =nav_link 'СОБЫТИЯ', doings_path
  =nav_link 'КОНТАКТЫ', contact_path